<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
       http://www.springframework.org/schema/beans/spring-beans.xsd
	   http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd">
    <!-- Define the teacherService bean -->
    <bean id="teacherService" class="com.ms.app.services.serviceimpliment.TeacherServiceIml">
    </bean>
    <!-- Load the property file application.property -->
    <context:property-placeholder location="classpath:application.properties" />
    <!-- Define the JavaTeacher bean -->
    <bean id="JavaTeacher" class="com.ms.app.model.JavaTeacher"> 
        <constructor-arg ref="teacherService" />
        <property name="id" value="100" />
        <property name="name" value="Testing" />
        <property name="subject" value="C#" />
        <property name="address" value="PP" />
    </bean>

    <!-- Define the pythonteacher bean -->
    <bean id="pythonTeacher" class="com.ms.app.model.PythonTeacher">
        <property name="teacherService" ref="teacherService" />
        <property name="id" value="33" />
        <property name="name" value="VANNY" />
        <property name="subject" value="PY" />
        <property name="address" value="PP" />
    </bean>

    <!-- Initailize value from Application property -->
    <bean id="app_property_Test" class="com.ms.app.model.PythonTeacher">
        <property name="teacherService" ref="teacherService" />
        <property name="id" value="${app.teacher.id}" />
        <property name="name" value="${app.teacher.name}" />
        <property name="subject" value="${app.teacher.subject}" />
        <property name="address" value="${app.teacher.address}" />
    </bean>


    <bean id="goTeacher" class="com.ms.app.model.GoTeacher" scope ="prototype">
        <constructor-arg ref="teacherService" />
        <!-- <property name="id" value="107" />
        <property name="name" value="KOK SEYHA" />
        <property name="subject" value="GO" />
        <property name="address" value="PP" /> -->
    </bean>

    <bean id="rusTeacher" class="com.ms.app.model.RusTeacher" init-method="initMethod" destroy-method="destroyMethod">
        <constructor-arg ref="teacherService" />
    </bean>
    


    <bean id="jvTeacher" class="com.ms.app.model.JavaTeacher">
    <!-- Required to have constructor in the parameterize constructor in Class JavaTeacher 
    Note: can use index ot not is the same-->
        <constructor-arg name="name" index="0" value="SONG" />
        <constructor-arg name="subject" index="1" value="Jv" />
        <constructor-arg name="address" index="2" value="PV" />
    </bean>
</beans>
